html {
  background-color: var(--BackgroundColor);
}
#about {
  color: var(--NavBarActiveColor);
}
.about {
  width: var(--ColumnWidth);
  margin-top: var(--TopMarginToHeader);
  margin-left: calc( (100vw - var(--ColumnWidth)) / 2);
  background-color: var(--BackgroundColor);
  color: var(--FontColor);
  font-size: var(--TextFontSize);
  text-align: justify;
}
/* @media only screen and (max-width: 768px) {
   .about {
     font-size:
  }
} */
