#about {
  color: var(--NavBarActiveColor);
  pointer-events: none;
}
.about {
  width: var(--ColumnWidth);
  margin-top: var(--TopMarginToHeader);
  margin-left: calc( (100vw - var(--ColumnWidth)) / 2);
  background-color: var(--BackgroundColor);
  color: var(--FontColor);
  font-size: var(--TextFontSize);
  text-align: justify;
}
#my-photo {
  float: right;
  max-width: 300px;
  width: 100%;
  margin-left: 2em;
  margin-bottom: 1em;
  border-radius: 5%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@media only screen and (max-width: 400px) {
  #my-photo {
    margin-left: 0em;
  }
  #footer-content {
    background-color: var(--NavBarColor);
  }
  #footer-contact-logo-container {
    display: inline-block;
  }
  #return-arrow-container {
    display: inline-block;
  }
}
