body {
  --FancyColor_selected: rgb(15, 15, 15);
  --BorderColor: var(--UnselectedBorderColor);
  --grid_item_margin: 1.5vw;;
  --grid_item_border_width: 0.25vw;
  overflow-x: hidden;
}
#webapps {
  color: var(--NavBarActiveColor);
  pointer-events: none;
}
.grid_link {
  text-decoration: none;
  color: var(--FontColor);
}
#grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 360px));
  grid-auto-flow: row dense;
  width: auto;
  justify-content: center;
  margin: 5vh;
}
.grid_item {
  width: auto;
  height: auto;
  padding: calc(0.2 * var(--grid_item_margin));
  margin: var(--grid_item_margin);
  border: var(--grid_item_border_width) solid var(--BorderColor);
  border-radius: 10px;
  cursor: pointer;
}
.grid_item:hover{
  border: var(--grid_item_border_width) solid var(--FancyColor);
}
.grid_item:hover > .button {
  border-color: var(--FancyColor);
}
.grid_item_title {
  text-align: center;
  font-size: 1.7em;
  /* min-height: 5vh; */
  margin-top: 3%;
  color: var(--FontColor);
}
.thumbnail {
  width: 100%;
  margin-top: 0.4em;
}
.button {
  font-size: 1.2em;
  text-align: center;
  color: var(--FontColor);
  margin-top: 3%;
  margin-bottom: 3%;
  background-color: var(--BackgroundColor);
  border-color: var(--BorderColor);
  width: 30%;
}
.button:hover {
  background-color: var(--FancyColor);
  color: rgb(0, 0, 0);
}
.button:hover > .grid_link {
  color: var(--FancyColor_selected);
}
.deployButton {
  margin-left: 9%;
}
.codeButton {
  margin-left: 20%;
}

#footer-content {
  background-color: var(--NavBarColor);
}
#footer-contact-logo-container {
  display: inline-block;
}
#return-arrow-container {
  display: inline-block;
}

.footer-contact-logo-container {
  display: inline-block;
}
