body {
  --BorderColor: var(--UnselectedBorderColor);
  --grid_width: 70vw;
  --grid_item_margin: calc(0.03 * var(--grid_width));
  --grid_item_border_width: calc(0.003 * var(--grid_width));
  --grid_item_width: calc(0.5 * (var(--grid_width) - 4 * (var(--grid_item_border_width) + var(--grid_item_margin))));
  overflow-x: hidden;
}
#grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  grid-auto-flow: row dense;
  width: auto;
  justify-content: center;
  margin: 5vw;
  margin-top: 15vh;
}
.grid_item {
  width: auto;
  height: auto;
  padding: calc(0.2 * var(--grid_item_margin));
  margin: var(--grid_item_margin);
  cursor: pointer;
}
.grid_item_content:hover > * {
  /* border: var(--grid_item_border_width) solid var(--FancyColor); */
  color: var(--EmphFontColor);
}
.grid_item_content {
  margin: 0;
}
.grid_item_title {
  width: 100%;
  text-align: center;
  font-size: 1.4em;
  margin: 0;
  margin-bottom: 3%;
  color: var(--FontColor);
}
.thumbnail {
  width: 100%;
  margin-top: 0.4em;
}
.blogtag {
  --tagwidth: 5em;
  display: inline-block;
  margin-top: 0;
  width: var(--tagwidth);
  font-size: 0.9em;
  border-radius: 10px;
  color: var(--LightModeFontColor);
  text-align: center;
}
#tag-container {
  text-align: right;
}
.Coding {
  background-color: rgb(153, 57, 224);
}
.Biology {
  background-color: rgb(2, 212, 26);
}
.Math {
  background-color: rgb(236, 180, 11);
}
.Physics {
  background-color: rgb(24, 133, 203);
}
.Geology {
  background-color: rgb(182, 77, 18);
}
.Miscellaneous {
  background-color: rgb(122, 122, 122);
}
.grid_link {
  text-decoration: none;
  color: var(--FontColor);
}
.content_preview {
  text-align: justify;
  color: var(--FontColor);
}

#blog {
  color: var(--NavBarActiveColor);
  pointer-events: none;
}
