#blog {
  color: var(--NavBarActiveColor);
  pointer-events: all;
}

.blog-wrap {
  width: var(--ColumnWidth);
  margin-top: var(--TopMarginToHeader);
  margin-left: calc( (100vw - var(--ColumnWidth)) / 2);
  background-color: var(--BackgroundColor);
  color: var(--FontColor);
  font-size: var(--TextFontSize);
  text-align: justify;
}

.blog-entry-header {
  text-align: left;
  font-size: calc(1.5 * var(--TextFontSize));
  margin-bottom: 1.5em;
}

.entry-title {
  font-size: calc(1 * var(--TextFontSize));
  margin-top: 0.5em;
  margin-bottom: 0;
}

.entry-date {
  font-size: calc(0.5 * var(--TextFontSize));
  margin-top: 0.6em;
}

#blog-navigator {
  margin-top: 10vh;
  text-align: center;
  width: 100%;
}

.blog-navigator-button {
  color: var(--UnselectedBorderColor);
  font-size: 5em;
  display: inline-block;
  font-family: monospace;
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: center;
  cursor: pointer;
}

.blog-navigator-button:hover {
  color: var(--FancyColor);
}

#suggested-readings {
  text-align: center;
  width: 100%;
  margin-top: 5vh;
  color: var(--FontColor);
  display: none;
}

#suggested_readings_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  grid-auto-flow: row dense;
  width: auto;
  justify-content: center;
  margin: 2em;
  margin-top: 2em;
  margin-bottom: 0em;
}

.grid_item {
  margin: 1em;
}

@media only screen and (max-width: 768px) {
  .blog-navigator-button {
    font-size: 3.5em;
  }
}
