body {
  --grid_width: 70vw;
  --grid_item_margin: calc(0.02 * var(--grid_width));
  --grid_item_border_width: calc(0.003 * var(--grid_width));
  --ThumbnailMargin: 10%;
  overflow-x: hidden;
}
#blog_container {
  text-align: center;
}
#grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  grid-auto-flow: row dense;
  width: auto;
  justify-content: center;
  margin: 4em;
  margin-top: 4em;
  margin-bottom: 0em;
}
.grid_item {
  width: auto;
  height: auto;
  margin: var(--grid_item_margin);
  cursor: pointer;
}
.grid_item_content {
  margin: 0;
  text-align: center;
  background-color: var(--GridItemColor);
  border-radius: 25px;
  padding: 1.2em;
}
.grid_item_content:hover > * {
  /* border: var(--grid_item_border_width) solid var(--FancyColor); */
  color: var(--EmphFontColor);
}
.grid_item_header {
  text-align: left;
  color: var(--FontColor);
  /* min-height: 7vh; */
  padding-bottom: auto;
}
.grid_item_title {
  width: 100%;
  font-size: 1.4em;
  margin: 0;
  margin-top: auto;
}
.grid_item_date {
  margin-top: 0.5em;
}
.thumbnail {
  width: calc(100% - var(--ThumbnailMargin));
  margin-top: 0.4em;
}
#topic-tag-banner {
  text-align: center;
  margin-top: 1em;
}
.topic-banner-entry {
  display: inline-block;
  margin: 0.1em;
  width: 5.5em;
  /* height: 2em; */
  font-size: 1.2em;
  border-radius: 5px;
  color: var(--LightModeFontColor);
  text-align: center;
  background-color: rgb(170, 170, 170)/*var(--GridItemColor)*/;
  cursor: pointer;
}
/* Blog topic tag classes: must start with capital letter */
.All {
  background-color: rgb(255, 255, 255);
}
.Coding {
  background-color: rgb(154, 112, 195);
}
.Python {
  background-color: rgb(180, 208, 67);
}
.Biology {
  background-color: rgb(2, 212, 26);
}
.Chemistry {
  background-color: rgb(218, 101, 196);
}
.Math {
  background-color: rgb(224, 205, 79);
}
.Physics {
  background-color: rgb(106, 134, 218);
}
.Geology {
  background-color: rgb(231, 168, 95);
}
.General {
  background-color: rgb(210, 106, 106);

}
.grid_link {
  text-decoration: none;
  color: var(--FontColor);
}
.content_preview {
  text-align: justify;
  color: var(--FontColor);
}
#blog {
  color: var(--NavBarActiveColor);
  pointer-events: none;
}

/* Uncomment the following when sufficient number of blog entries... */

/* #footer {
  background-color: var(--NavBarColor);
}

#footer-contact-logo-container {
  display: inline-block;
}
#return-arrow-container {
  display: inline-block;
} */

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .topic-banner-entry {
    width: 4em;
    font-size: 1.1em;
  }
  #grid_container {
    margin: 2em;
  }
  .grid_item {
    margin-bottom: 2em;
  }
}
