#home {
  color: var(--NavBarActiveColor);
  pointer-events: none;
}
.info {
  background-color: var(--BackgroundColor);
  color: var(--FontColor);
  width: 80vw;
  margin-left: 10vw;
  text-align: center;
}
.myname {
  margin-top: 25vh;
}
.name-wrapper {
  display: inline-block;
  margin: 1.5vw;
  font-size: 6vw;
}
.name-character {
  display: inline-block;
  margin: -0.7vw;
  -webkit-transition: color 0.5s;
  transition: color 0.5s, font-size 0.5s, transform 0.5s;
  transition-delay: 0.05s;
}
.name-character:hover {
  color: var(--RandomColor);
}
.myrol {
  font-size: 3vw;
  margin-top: 0vh;
}

@media only screen and (min-width: 768px) {
  .name-character:hover {
    transform: translateY(-20px);
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait){
  .name-wrapper {
    display: block;
    font-size: 10vw;
    margin-bottom: 5vh;
  }
  .myname {
    margin-top: 15vh;
  }
  #name {
    /* margin-left: -25vw; */
  }
  #surname1 {
    /* margin-left: -2vw; */
  }
  #surname2 {
    /* margin-left: 25vw; */
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape){
  .myname {
    margin-top: 13vh;
  }
}
