#home {
  color: var(--NavBarActiveColor);
}
.info {
  background-color: var(--BackgroundColor);
  color: var(--FontColor);
  width: 80vw;
  margin-left: 10vw;
  text-align: center;
}
.myname {
  font-size: 6.5vw;
  margin-top: 30vh;
}
.myrol {
  font-size: 3vw;
  margin-top: 0vh;
}
.name-character {
  display: inline-block;
  margin: -0.7vw;
  -webkit-transition: color 0.5s;
  transition: color 0.5s, font-size 0.5s, transform 0.5s;
  transition-delay: 0.05s;
}
.name-character:hover {
  color: var(--RandomColor);
  transform: translateY(-20px);
}
.spacer {
  display: inline;
  margin: 0.7vw;
}
