:root {
  --BackgroundColor: rgb(0, 0, 0);
  --FontColor: rgb(255, 255, 255);
  --FancyColor: rgb(73, 201, 35);
  --HighlightColor: rgb(230, 197, 26);
  --NavBarActiveColor: var(--FancyColor);
  --TextFontSize: 1.5vw;
  --ColumnWidth: 60vw;
  --NavSeparatorWidth: 0.8vw;
  --TopMarginToHeader: 8vh;
  scroll-behavior: smooth;
}
body {
   transition: opacity 0.4s;
   opacity: 0;
   background-color: var(--BackgroundColor);
}
html, body {
  margin: 0;
  padding:0;
}
a {
  text-decoration: none;
  color: var(--FancyColor);
}
#menu {
  display: none;
}
.navbar-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.navbar {
  margin-top: 5vh;
  text-align: center;
  background-color: var(--BackgroundColor);
}
.navbar-item {
  color: var(--FontColor);
  font-size: 2.2vw;
  text-align: center;
  margin-left: var(--NavSeparatorWidth);
  margin-right: var(--NavSeparatorWidth);
  display: inline-block;
  cursor: pointer;
}
#navbar-line-separator {
  width: 52vw;
  margin-left: 24vw;
  height: 1px;
  border-bottom: rgb(68, 68, 68) solid 2px;
  /* border-bottom: var(--FancyColor) solid 2px; */
}
.burguer-bracket {
  color: var(--FancyColor);
  font-size: 4em;
  display: inline-block;
  margin: 0;
}
.burguer-bracket, .nav-burguer-meat, #burger-meat-container #burguer-menu {
  display: none;
}
.credits {
  --container-width: 100vw;
  width: var(--container-width);
  position: absolute;
  bottom: 3vh;
  margin-left: calc((100vw - var(--container-width)) / 2);
}
.credits-content {
  text-align: center;
  background-color: var(--BackgroundColor);
  color: var(--FontColor);
  font-size: 1.3vw;
}
.code-symbol {
  color: var(--FancyColor);
  font-size: 2.5vw;
  display: inline-block;
  font-family: monospace;
}
/* Scroll bar */
::-webkit-scrollbar {
  width: 1vw;
  background-color: var(--BackgroundColor);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25vw grey;
  border-radius: 0.5vw;
}
::-webkit-scrollbar-thumb {
  background: var(--FancyColor);
  border-radius: 0.5vw;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--FancyColor);
}

/* Adjust display for mobile */
@media only screen and (max-width: 768px) and (orientation: portrait) {
  :root {
    --ColumnWidth: 80vw;
    --TextFontSize: 2.8vw;
  }
  .credits-content {
    font-size: 3vw;
  }
  .code-symbol {
    font-size: 3.5vw;
  }
  .navbar {
    position: absolute;
    top: 8vh;
    width: 100vw;
    margin: 0;
    display: none;
    text-align: left;
    background-color: rgb(51, 51, 51);
  }
  .navbar-item {
    display: inherit;
    font-size: 4vh;
    text-align: left;
    margin-left: 5.5vh;
  }
  #navbar-line-separator {
    display: none;
  }
  #burguer-menu {
    display: block;
    margin-left: 5vh;
    margin-top: 10vw;
    cursor: pointer;
  }
  input:checked ~ .navbar {
    display: block;
  }
  .burguer-bracket {
    display: inline-block;
    font-size: 9vw;
  }
  #burguer-meat-container {
    display: inline-block;
  }
  .nav-burguer-meat {
    display: block;
    width: 9vw;
    height: 1vw;
    margin-top: 2.7vw;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
    margin-bottom: -1vw;
    background-color: var(--FontColor);
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .navbar-item {
    font-size: 1.5em;
  }
  .credits-content {
    font-size: 1.6vw;
  }
}
