body {
  --FontColor: rgb(255, 255, 255);
  --FancyColor: rgb(73, 201, 35);
  --HighlightColor: rgb(230, 197, 26);
  --backgroundColor: rgb(0, 0, 0);
  --NavSeparatorWidth: 0.5vw;
}
.navbar {
  /* border: 5px solid var(--FancyColor); */
  /* border-radius: 15px; */
  text-align: center;
  background-color: var(--backgroundColor);
}
.navbar-item {
  text-decoration: none;
  color: var(--FontColor);
  font-size: 2vw;
  text-align: center;
  margin-bottom: 0.5vw;
  display: inline-block;
}
.navbar-item:hover {
  color: var(--HighlightColor);
}
.vertical-bar {
  display: inline-block;
  color: var(--FancyColor);
  font-size: 2vw;
  margin: 0;
  margin-left: var(--NavSeparatorWidth);
  margin-right: var(--NavSeparatorWidth);
}
.nav_bracket {
  color: var(--FancyColor);
  font-size: 4vw;
  display: inline-block;
  margin: 0;
}
.info {
  background-color: var(--backgroundColor);
  color: var(--FontColor);
  width: 80vw;
  margin-left: 10vw;
  text-align: center;
}
.myname {
  font-size: 6.5vw;
  margin-top: 30vh;
}
.myrol {
  font-size: 3vw;
  margin-top: 0vh;
}
.mylogo {
  position: absolute;
  width: 10vw;
  height: 6vw;
  margin-right: 0vw;
  background-color: rgb(126, 126, 126);
  display: inline;
  /* font-size: 2em; */
}
.my-initials {
  /* position: relative; */
  width: 20px;
  height: 30px;
  display: inline;
  color: rgb(255, 255, 255);
  margin: 0;
  margin-top: -10%;
  font-size: 3em;
}
#letter_S {
  /* margin-left: 5%; */

}
#letter_R {
  margin-left: 18%;

}
