body {
  --BorderColor: var(--UnselectedBorderColor);
  --grid_width: 70vw;
  --grid_item_margin: 2.1vw;
  --grid_item_border_width: 0.21vw;
  overflow-x: hidden;
}
.grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  grid-auto-flow: row dense;
  width: auto;
  justify-content: center;
  margin: 5vh;
}
.grid_item {
  width: auto;
  height: auto;
  padding: calc(0.2 * var(--grid_item_margin));
  margin: var(--grid_item_margin);
  cursor: pointer;
}
.grid_item_content:hover > *
  color: var(--EmphFontColor);
}
.grid_item_content {
  margin: 0;
}
.grid_item_header {
  text-align: center;
  color: var(--FontColor);
  min-height: 7vh;
  padding-bottom: auto;
}
.grid_item_title {
  width: 100%;
  font-size: 1.2em;
  margin: 0;
  margin-top: auto;
}
.grid_item_authors {
  margin-top: 0.5vh;
}
.papertag {
  margin-top: 3%;
  width: 30%;
  border-radius: 10px;
  color: var(--LightModeFontColor);
  text-align: center;
  font-size: 1em;
}
.published {
  background-color: rgb(24, 133, 203);
}
.preprint {
  background-color: rgb(2, 212, 26);
}
.ongoing {
  background-color: rgb(236, 180, 11);
}
.thumbnail {
  width: 100%;
  margin-top: 0.4em;
  height: 225px;
}
.grid_link {
  text-decoration: none;
  color: var(--FontColor);
}
.content_preview {
  text-align: justify;
  color: var(--FontColor);
  font-size: 0.8em;
}
#research {
  color: var(--NavBarActiveColor);
  pointer-events: none;
}
