body {
  --BorderColor: var(--UnselectedBorderColor);
  --grid_item_margin: 2.1vw;
  --grid_item_border_width: 0.21vw;
  overflow-x: hidden;
}
.intro {
  width: var(--ColumnWidth);
  margin-top: var(--TopMarginToHeader);
  margin-bottom: 5vh;
  margin-left: calc( (100vw - var(--ColumnWidth)) / 2);
  background-color: var(--BackgroundColor);
  color: var(--FontColor);
  font-size: var(--TextFontSize);
  text-align: justify;
}
#grid_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  grid-auto-flow: row dense;
  width: auto;
  justify-content: center;
  margin: 5vw;
}
.grid_item {
  width: auto;
  height: auto;
  padding: calc(0.2 * var(--grid_item_margin));
  margin: var(--grid_item_margin);
  cursor: pointer;
}
.grid_item_content:hover > * {
  color: var(--EmphFontColor);
}
.grid_item_content {
  margin: 0;
}
.grid_item_header {
  text-align: center;
  color: var(--FontColor);
  min-height: 7vh;
  padding-bottom: auto;
}
.grid_item_title {
  width: 100%;
  font-size: 1.2em;
  margin: 0;
  margin-top: auto;
}
.grid_item_authors {
  margin-top: 0.5vh;
}
/* Paper type tag classes: must start with capital letter */
.Published {
  background-color: rgb(24, 133, 203);
}
.Preprint {
  background-color: rgb(2, 212, 26);
}
.Ongoing {
  background-color: rgb(236, 180, 11);
}
.thumbnail {
  width: 100%;
  margin-top: 0.4em;
  height: 225px;
}
.grid_link {
  text-decoration: none;
  color: var(--FontColor);
}
.content_preview {
  text-align: justify;
  color: var(--FontColor);
  font-size: 0.8em;
}
#research {
  color: var(--NavBarActiveColor);
  pointer-events: none;
}
