body {
  --body_color: rgb(0, 0, 0);
  --fancy_color: rgb(252, 226, 20);
  --fancy_color_selected: rgb(140, 21, 191);
  --border_color: rgb(121, 121, 121);
  --grid_width: 60vw;
  --grid_item_margin: calc(0.02 * var(--grid_width));
  --grid_item_border_width: calc(0.01 * var(--grid_width));
  --grid_item_width: calc(0.5 * (var(--grid_width) - 4 * (var(--grid_item_border_width) + var(--grid_item_margin))));
  --font_color: rgb(251, 251, 251);
  background-color: var(--body_color);
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  max-height: auto;
}
h1, p {
  color: var(--font_color);
}
.grid_link {
  text-decoration: none;
  color: var(--font_color);
}
.name {
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: calc((100vw - var(--grid_width)) / 2);
  text-align: left;
  font-size: calc(0.06 * var(--grid_width));
}
.grid_container {
  display: grid;
  grid-template-columns: auto auto;
  width: var(--grid_width);
  margin-right: 0;
  margin-left: calc((100vw - var(--grid_width)) / 2);
}
.grid_item {
  width: var(--grid_item_width);
  height: auto;
  border: var(--grid_item_border_width) solid var(--border_color);
  margin: var(--grid_item_margin);
}
.grid_item:hover{
  border: var(--grid_item_border_width) solid var(--fancy_color);
  cursor: pointer;
}
.grid_item:hover > .button {
  border-color: var(--fancy_color);
}
.grid_item_title {
  text-align: center;
  font-size: calc(0.085 * var(--grid_item_width));
  max-height: calc(0.15 * var(--grid_item_width));
}
.thumbnail {
  width: calc(0.8 * var(--grid_item_width));
  margin-left: calc(0.1 * var(--grid_item_width));
}
.button {
  font-size: calc(0.065 * var(--grid_item_width));
  text-align: center;
  color: var(--font_color);
  margin-top: calc(0.05 * var(--grid_item_width));
  margin-bottom: calc(0.06 * var(--grid_item_width));
  background-color: var(--body_color);
  border-color: var(--border_color);
  width: calc(0.3 * var(--grid_item_width));
}
.button:hover {
  background-color: var(--fancy_color);
  color: rgb(0, 0, 0);
}
.button:hover > .grid_link {
  color: var(--fancy_color_selected);
}
.deployButton {
  margin-left: calc(0.1 * var(--grid_item_width));
}
.codeButton {
  margin-left: calc(0.2 * var(--grid_item_width));
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25vw grey;
  border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background: var(--fancy_color);
  border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--fancy_color);
}
